body {
    background: #272727;
}

aside {
    float: left;
    background: #181818;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #0c0032;
}

aside img {
    width: 60px;
    float: left;
}

aside .logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3 {
    margin-top: 45px;
    font-size: 30px;
}

aside ul{
    list-style: none;
    text-decoration: none;
}
aside ul li{
    color: white;
    font-size: 18px;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #4ac1f7;
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {max-width: 600px; margin: 20px auto; font-size: 20px}

.alert-warning{
    float: left;
    text-align: center;
    clear: both;
    width: 500px;
    margin: 20px 30%;
}



.form {
      width:200px;
      margin:auto;
      margin-top: 250px;
      }
.input{
      padding:4px 10px;
      border:0;
      font-size:16px;
      }
.search {
      width: 35%;
      }
.submit{
      width: 70px;
      background-color: #1c87c9;
      color:#ffffff;
      }





