{% extends 'main/layout.html'%}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании существенных финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании форм развития. С другой стороны реализация намеченных плановых заданий требуют от нас анализа направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности играет важную роль в формировании систем массового участия.</p>
        <button class="btn btn-warning">Просто книпка</button>
    </div>
{% endblock %}